<!-- /components/navbar.html -->
<!DOCTYPE html>
<nav class="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="logo">
                <img src="logo.jpeg" alt="Pie Pro Salud - Podólogo en Bogotá">
            </a>
            <button class="menu-toggle" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="nav-menu">
                <li><a href="index.html">Inicio</a></li>
                <li class="dropdown">
                    <a href="clinica-bogota.html">Clínica</a>
                    <ul class="dropdown-menu">
                        <li><a href="una-encarnada-bogota.html">Uña Encarnada</a></li>
                        <li><a href="pedicure-clinico-bogota.html">Pedicure Clínico</a></li>
                        <li><a href="tratamiento-pie-diabetico-bogota.html">Pie Diabético</a></li>
                        <li><a href="curaciones-especializadas-bogota.html">Curaciones</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="spa-medico-bogota.html">Spa Médico</a>
                    <ul class="dropdown-menu">
                        <li><a href="tratamiento-hongos-callos-bogota.html">Hongos y Callos</a></li>
                        <li><a href="exfoliacion-hidratacion-bogota.html">Exfoliación e Hidratación</a></li>
                        <li><a href="aromaterapia-bogota.html">Aromaterapia</a></li>
                        <li><a href="spa-terapeutico-pies-bogota.html">Spa Terapéutico</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="masaje-pies-bogota.html">Masajes</a>
                    <ul class="dropdown-menu">
                        <li><a href="masaje-relajante-pies-bogota.html">Masaje Relajante</a></li>
                        <li><a href="reflexologia-podal-bogota.html">Reflexología Podal</a></li>
                        <li><a href="masaje-descontracturante-bogota.html">Descontracturante</a></li>
                        <li><a href="hidromasaje-relajante-bogota.html">Hidromasaje</a></li>
                    </ul>
                </li>
                <li><a href="https://wa.me/573222177518?text=Hola,%20me%20interesa%20agendar%20una%20cita%20para%20cuidado%20podológico" class="btn-contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>